<h2 style="color:red;">CatPhotoApp</h2>
<style>
  h2 {color:blue;}
  </style>
<h2>CatPhotoApp</h2>
<style>
  
   .red-text{
    color: red;}
    p{font-size:16px;}
    p {
      font-family: monospace;
    }
    h2{font-family:lobster;}

</style>

<p class="red-text">Click here to view more <a href="#">cat photos</a>.</p>
