<h2 style="color:red;">CatPhotoApp</h2>
<style>
  h2 {color:blue;}
  </style>
<h2>CatPhotoApp</h2>
<style>
  
   .red-text{
    color: red;}
    p{font-size:16px;}
    p {
      font-family: monospace;
    }
    h2{font-family:lobster;}
    <!-- <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"> -->
<style>
    .red-text {
      color: red;
    }
  
    h2 {
      font-family: Lobster,monospace;
    }

</style>

<p class="red-text">Click here to view more <a href="#">cat photos</a>.</p>
<style>
.smaller-image {
  width: 100px;
}
</style>


<a href="#"><img class="smaller-image"; <style>

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius:10px;
    border-radius: 50%;
    <style>
    .silver-background {
       background-color: silver;
     }
   </style>
   
   
     <div class=
     "silver-background"</div>
     <form
action="/submit-cat-photo" id=cat-photo-form>
#cat-photo-form
  {
    background-color:green;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
  }  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin: 20px;
    .blue-box {
      background-color: blue;
      color: #fff;
      padding: 20px;
      margin: -15px;
    }
    .blue-box {
      background-color: blue;
      color: #fff;
      padding-top:40px;
      padding-right:20px;
      padding-left:40px;
      padding-bottom:20px;
      .blue-box {
        background-color: blue;
        color: #fff;
        margin-top: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
      }
      .blue-box {
        background-color: blue;
        color: #fff;
        padding:40px 20px 20px 40px;
      }
      .blue-box {
        background-color: blue;
        color: #fff;
        margin:40px 20px 20px 40px;
      }[type='checkbox'] {
        margin: 10px 0px 15px 0px;
      }
   
  

  </style>