<h2 style="color:red;">CatPhotoApp</h2>
<style>
  h2 {color:blue;}
  </style>
<h2>CatPhotoApp</h2>
<style>
  
   .red-text{
    color: red;}
    p{font-size:16px;}
    p {
      font-family: monospace;
    }
    h2{font-family:lobster;}
    <!-- <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"> -->
<style>
    .red-text {
      color: red;
    }
  
    h2 {
      font-family: Lobster,monospace;
    }

</style>

<p class="red-text">Click here to view more <a href="#">cat photos</a>.</p>
<style>
.smaller-image {
  width: 100px;
}
</style>


<a href="#"><img class="smaller-image"; <style>

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius:10px;
    border-radius: 50%;
    <style>
    .silver-background {
       background-color: silver;
     }
   </style>
   
   
     <div class=
     "silver-background"</div>
     <form
action="/submit-cat-photo" id=cat-photo-form>
#cat-photo-form
  {
    background-color:green;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
  }  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin: 20px;
    .blue-box {
      background-color: blue;
      color: #fff;
      padding: 20px;
      margin: -15px;
    }
    .blue-box {
      background-color: blue;
      color: #fff;
      padding-top:40px;
      padding-right:20px;
      padding-left:40px;
      padding-bottom:20px;
      .blue-box {
        background-color: blue;
        color: #fff;
        margin-top: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
      }
      .blue-box {
        background-color: blue;
        color: #fff;
        padding:40px 20px 20px 40px;
      }
      .blue-box {
        background-color: blue;
        color: #fff;
        margin:40px 20px 20px 40px;
      }[type='checkbox'] {
        margin: 10px 0px 15px 0px;
      }
      .red-box {
        background-color: red;
        margin: 20px 40px 20px 40px;
    padding: 1.5em;
      }
      body {
        background-color: black;
      }
      <style>
  
  body {
    background-color: black;
    color: green;
    font-family: monospace;
  }
</style>

<h1>Hello World</h1>
</style>

.pink-text {
  color: pink;
}
</style>
<h1 class="pink-text"Hello World!</h1>
.pink-text {
  color: pink;
  .blue-text {
  color: blue;
{
  
}
</style>
<h1 class=" blue-text pink-text" style="color:blue;">Hello World!</h1>
}
#orange-text {
color: orange;
}

</style>
<h1 id="orange-text" class="pink-text blue-text";>Hello World!</h1>
<h1 id="orange-text" class="pink-text blue-text"style="color:white;">Hello World!</h1>
.pink-text {
  color: pink !important;
}
<style>
  body {
    background-color:  #000000;;
  }
</style>
.red-text {
  color: 	#FF0000;
}
.green-text {
  color: #00FF00;
}
.dodger-blue-text {
  color:#1E90FF ;
}
.orange-text {
  color: #FFA500;
  .red-text {
    color:#F00;
  }
  .fuchsia-text {
    color:#F0F ;
  }
  .cyan-text {
    color:#0FF;
    
    
  }
  .green-text {
    color: #0F0;
    style>
  body {
    background-color:rgb(0, 0, 0) ;
  }
</style>
<style>
  .red-text {
    color:rgb(255, 0, 0);
  }
  .orchid-text {
    color:	rgb(218, 112, 214) ;
  }
  .sienna-text {
    color:rgb(160, 82, 45) ;
  }
  .blue-text {
    color:rgb(0, 0, 255) ;
  }
</style>
--penguin-skin: gray;
    --penguin-belly: white;
    --penguin-beak: orange;
    --penguin-skin: gray;
    penguin-top {
      top: 10%;
      left: 25%;
  
      /* change code below */
      background: var(--penguin-skin);
      /* change code above */
  
      width: 50%;
      height: 45%;
      border-radius: 70% 70% 60% 60%;
    }
  
    .penguin-bottom {
      top: 40%;
      left: 23.5%;
  
      /* change code below */
      background: var(--penguin-skin);
      /* change code above */
  
      width: 53%;
      height: 45%;
      border-radius: 70% 70% 100% 100%;
    }
  
    .right-hand {
      top: 0%;
      left: -5%;
  
      /* change code below */
      background: var(--penguin-skin);
      /* change code above */
  
      width: 30%;
      height: 60%;
      border-radius: 30% 30% 120% 30%;
      transform: rotate(45deg);
      z-index: -1;
    }
  
    .left-hand {
      top: 0%;
      left: 75%;
  
      /* change code below */
      background: var(--penguin-skin);
      /* change code above */
  
      width: 30%;
      height: 60%;
      border-radius: 30% 30% 30% 120%;
      transform: rotate(-45deg);
      z-index: -1;
    }
  
    .right-cheek {
      top: 15%;
      left: 35%;
      background: white;
      width: 60%;
      height: 70%;
      border-radius: 70% 70% 60% 60%;
    }
  
    .left-cheek {
      top: 15%;
      left: 5%;
      background: white;
      width: 60%;
      height: 70%;
      border-radius: 70% 70% 60% 60%;
    }


    .penguin-top {
      top: 10%;
      left: 25%;
      /* change code below */
      background: var(--pengiun-skin,black);
      /* change code above */  
      width: 50%;
      height: 45%;
      border-radius: 70% 70% 60% 60%;
    }
  
      .penguin-bottom {
      top: 40%;
      left: 23.5%;  
      /* change code below */
      background: var(--pengiun-skin,black);
      /* change code above */ 
      width: 53%;
      height: 45%;
      border-radius: 70% 70% 100% 100%;
    }
    <style>
    :root {
      --red-color: red;
    }
    .red-box {
      background: red;
      background: var(--red-color);
      height: 200px;
      width:200px;
    }
  </style>
  <div class="red-box"></div>
  .belly {
    top: 60%;
    left: 2.5%;
    background: var(--penguin-belly, white);
    width: 95%;
    height: 100%;
    border-radius: 120% 120% 100% 100%;
  }

  .penguin-top {
    top: 10%;
    left: 25%;
    background: var(--penguin-skin, gray);
    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
  }

  .penguin-bottom {
    top: 40%;
    left: 23.5%;
    background: var(--penguin-skin, gray);
    width: 53%;
    height: 45%;
    border-radius: 70% 70% 100% 100%;
  }
  --penguin-skin: gray;
    --penguin-belly: white;
    --penguin-beak: orange;
  }

  body {
    background: var(--penguin-belly, #c6faf1);
  }

  .penguin {
    /* Only change code below this line */
--penguin-belly: white;  
   
  

  </style>